* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #666;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.card-content {
  p {
    color: whitesmoke;
    font-size: 1em;
    opacity: .3;
    width: 35%;
    margin: 2% auto 0;
    &:hover {
      opacity: 1;
      font-weight: bold;
    }
  }
}
.home {
  h4 {
    font-size: 3em;
    border-bottom: 5px solid black;
    width: 45%;
    margin: 0 auto;
  }
}